packages:
  yum:
    amazon-cloudwatch-agent: []

commands:
  01_stop_any_running_agent:
    command: |
      systemctl stop amazon-cloudwatch-agent || true

  02_start_cloudwatch_agent:
    command: |
      /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl \
        -a fetch-config \
        -m ec2 \
        -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json \
        -s